

body {
    background-color: palevioletred;
}


h1 {
    font-family: Allison;
    font-size: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px

    
}

p{
    display: flex;
    margin: 20px 100px;
    font-family: Allison;
    font-size: 50px
} 

button {
    font-family: Allison;
    font-size: 30px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px auto;
    background-color: lightpink;
    border-color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 480px;
    margin: auto;
    border-color: black;
    border: solid;
}


/** targeted the block class I created for the divs from the javascript file **/
.block { background-color: pink}


